/* Take padding and borders into account when sizing */
* {
  box-sizing: border-box;
}

/* Overall Fonts and background */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 18px;
  background-color: #e9e8e6;
  color: #79342d;
}

/* center the wrapper element */
#wrapper {
  margin: 0 auto;
  background-color: #fff;
}

/* Style each of the 'h' tags */
h1 {
  font-size: 38px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 13px;
  padding-bottom: 5px;
}

h2 {
  font-size: 30px;
  padding: 15px 0;
}

h3 {
  font-size: 20px;
  padding: 15px 0;
}

/* Make all 'h' tags bold */
h1,
h2,
h3,
h4 {
  font-weight: bold;
}

/* ------NAVBAR------ */

nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 5px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
}

nav ul li:hover {
  background-color: #79342d;
  color: #fff;
}

/* ------LEFT COLUMN SPECIFIC STYLING------ */
/* resize image */
#col-left img {
  width: 400px;
  padding-top: 15px;
}

/* make strong tag bold */
strong {
  font-weight: bold;
}

/* contact details */
.contact a {
  text-decoration: none;
  color: inherit;
}

.contact a:hover {
  text-decoration: underline;
}

/* ------RIGHT COLUMN SPECIFIC STYLING------ */
/* Style the lists */
#col-right ul li {
  list-style-type: square;
  list-style-position: inside;
}

/* Website paragraph and link styling */
#col-right p:last-of-type {
  margin: 10px 0;
}

#col-right a:link {
  text-decoration: none;
  color: inherit;
}

#col-right a:visited {
  text-decoration: none;
  color: inherit;
}

#col-right a:hover {
  text-decoration: underline;
}

i {
  font-style: italic;
}

/* ------FOOTER------ */
/* Styling the footer */
footer {
  margin: auto;
  text-align: center;
  clear: both;
  padding: 20px 0 15px 0;
  font-size: 14px;
}

/* ------RESPONSIVE LAYOUT------ */
/* For screen widths larger than 600px */
@media only screen and (min-width: 601px) {
  #wrapper {
    width: 1020px;
  }

  /* Float the right column to the right */
  #col-right {
    float: right;
    width: 600px;
    padding: 0 20px;
  }

  #col-left {
    width: 400px;
    margin-left: 20px;
  }
}

/* For screen widths smaller than 600px */
@media only screen and (max-width: 600px) {
  #wrapper {
    width: 100%;
  }

  h1 {
    padding: 15px 10px 0 10px;
  }

  nav ul {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
  }

  nav ul li {
    float: none;
    width: 100%;
    padding-bottom: 5px;
  }

  nav ul li:last-of-type {
    padding-bottom: 0;
  }

  #col-left {
    width: 100%;
    padding: 0 15px;
  }

  #col-right {
    padding: 0 15px;
  }

  footer {
    width: 100%;
  }
}
